# init

init-author-name= "ext8"
init-author-email= "mail.ext8@proton.me"
init-author-url=  "https://ext8.github.io/website/"
init-version = "0.0.1"
init-license=MIT

# defaults

browser = "chromium"
editor = "subl.exe"

# settings

fund=false
unicode = true
usage = true
